
<div id="my-tabular-table" ></div>
 <wj-table id="my-table" filterable="ADVANCED" export="csv"></wj-table>
 <!--
<wj-input label="from ui label"  id="copy-wj-input" placeholder="fff" 
 
 type="text" minlength="105" message="Toto je moja hlaska" validationMessage="vvvv" title="You changed it !!" 
 required validate-on-change custom-error-display></wj-input>




 <tom-user-avatar></tom-user-avatar>
 <wj-button id="custom">Custom</wj-button>
  -->
			
			 <h2>Basic</h2>
    <div class="playground">
      <div class="content">
        <p style="overflow: hidden; height: 50px;">
          <wj-dropdown label="Start" placement="bottom-start" offset="5">
            <wj-button size="large" slot="trigger" stop-propagation="true" caret>Large</wj-button>
            <wj-menu variant="context">
              <wj-menu-item>
                <wj-icon name="plane" slot="start"></wj-icon>
                <wj-label>Menu item</wj-label>
              </wj-menu-item>
              <wj-menu-item>
                <wj-icon name="book" slot="start"></wj-icon>
				<div name="start"></div>				
                <wj-label>Menu item</wj-label>
              </wj-menu-item>
              <wj-menu-item>
                <wj-icon name="music" slot="start"></wj-icon>
                <wj-label>Menu item</wj-label>
              </wj-menu-item>
              <wj-menu-item>
                <wj-icon name="video" slot="start"></wj-icon>
                <wj-label>Menu item</wj-label>
              </wj-menu-item>
            </wj-menu>
          </wj-dropdown>
        </p>
      </div>
    </div>